<div class="container">
  
  <form [formGroup]="formulario" (ngSubmit)="sumitar()" novalidate>

    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control {{(formulario.controls.nombre.valid)? 'valido' : 'invalido'}}" id="nombre" placeholder="Min 2 y max 50" />
      <small *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="form-text text-danger">Mínimo 2 letras máximo 50 letras</small>
      <small *ngIf="formulario.controls.nombre.valid && formulario.controls.nombre.touched" class="form-text text-success">Correcto</small>
    </div>

    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="number" formControlName="precio" class="form-control {{(formulario.controls.precio.valid)? 'valido' : 'invalido'}}" id="precio" min="0.01" max="999" step="0.01" />
      <small *ngIf="formulario.controls.precio.invalid && formulario.controls.precio.touched" class="form-text text-danger">Mínimo 0,01 máximo 999</small>
      <small *ngIf="formulario.controls.precio.valid && formulario.controls.precio.touched" class="form-text text-success">Correcto</small>
    </div>

    <div class="form-group">
      <label for="habitaciones">Habitaciones:</label>
      <input type="number" formControlName="habitaciones" class="form-control {{(formulario.controls.habitaciones.valid)? 'valido' : 'invalido'}}" id="habitaciones" min="0" max="999" />
      <small *ngIf="formulario.controls.habitaciones.invalid && formulario.controls.habitaciones.touched" class="form-text text-danger">Mínimo 0,01 máximo 999</small>
      <small *ngIf="formulario.controls.habitaciones.valid && formulario.controls.habitaciones.touched" class="form-text text-success">Correcto</small>
    </div>

    <div class="form-group">
      <label class="mr-2">Servicios:</label>
      <a (click)="nuevoServicio()" class="btn btn-nuevo-servicio mb-2 text-white">Nuevo servicio</a>
      <div formArrayName="servicios">
        <div *ngFor="let servicio of formulario.get('servicios').controls; let i=index;">
          <div [formGroupName]="i" class="mb-2 divServicio">
            <input formControlName="servicio" type="text" class="form-control {{(formulario.get('servicios').controls[i].valid)? 'valido' : 'invalido'}}">
            <i (click)="eliminarServicio(i)" class="fas fa-times-circle text-danger borrarServicio"></i>
            <small *ngIf="formulario.get('servicios').controls[i].invalid" class="form-text text-danger">Mínimo 2 letras y máximo 15</small>
            <small *ngIf="formulario.get('servicios').controls[i].valid" class="form-text text-success">Correcto</small>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="alquiler" class="container">Alquiler
        <input type="checkbox" formControlName="alquiler" checked="checked" id="alquiler">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <input type="text" formControlName="direccion" class="form-control {{(formulario.controls.direccion.valid)? 'valido' : 'invalido'}}" id="direccion" />
      <small *ngIf="formulario.controls.direccion.invalid && formulario.controls.direccion.touched" class="form-text text-danger">Mínimo 5% máximo 90%</small>
      <small *ngIf="formulario.controls.direccion.valid && formulario.controls.direccion.touched" class="form-text text-success">Correcto</small>
    </div>

    <div class="form-group">
      <label for="foto">Foto:</label>
      <img src="{{formulario.controls.foto.value}}" alt="foto destacada" class="imgDestacada" />
      <input type="text" formControlName="foto" class="form-control mt-4 {{(formulario.controls.foto.valid)? 'valido' : 'invalido'}}" id="foto" placeholder="URL de la imagen con extensión .png o .jp(e)g" />
      <small *ngIf="formulario.controls.foto.invalid && formulario.controls.foto.touched" class="form-text text-danger">Formato inadecuado .png o .jpg o .jpeg</small>
      <small *ngIf="formulario.controls.foto.valid && formulario.controls.foto.touched" class="form-text text-success">Correcto</small>
    </div>

    <p *ngIf="msg != ''" class="text-success msgCreada"><b>{{msg}}</b></p>

    <input type="submit" class="btn btn-crear btn-block" value="Crear" [disabled]="formulario.status === 'INVALID'" />

    

  </form>
</div>
