.menu{
    
    position: relative;

    .inicio{
        color:#528B8B;
        font-size:1.5em;
    }

    .logeado{
        position: absolute;
        right:143px;
    }

    .no-logeado{
        position: absolute;
        right:10px;
    }

    .btn-zona-privada a{
        background-color: #528B8B;
        color: #fff;
    }

    .btn-zona-privada a:hover{
        background-color: #fff;
        color: #528B8B;
        border-color: #528B8B;
    }

    .btn-cerrar-sesion{
        position: absolute;
        right:10px;    
        top: 8px;
        height: 42px;
        background-color: #333;
        color:#fff;
    }

    .btn-cerrar-sesion:hover{
        background-color: #fff;
        color:#333;
        border-color: #333;
    }

}
