<div class="container">

  <div class="row">

    <div class="col-4">
      <h2>Listado de casas</h2>

      <ul class="list-group">
        <li *ngFor="let c of casas | tipoVivienda: alquiler:todas:venta | precio: minPrecio:maxPrecio" class="list-group-item" (click)="cambiarCasa(c)" [class.activo]="c === casa">
          <span><b>{{c.nombre}}</b></span>
          <span class="float-right">{{c.precio}} &euro;</span>
          <span class="d-block"><i>{{c.direccion}}</i></span>
        </li>
      </ul>
    </div>

    <div class="col-5">
      <app-detalle [_casa]="casa"></app-detalle>
    </div>

    <div class="col-3">
      <div class="mb-4 mt-4">
        <p>Filtrar por precio o tipo de vivienda</p>
        <span>Min </span><input class="inputPrecio form-control" [(ngModel)]="minPrecio" type="number" value="100" min="1" max="100000000" />
        <span>Max </span><input class="inputPrecio form-control" [(ngModel)]="maxPrecio" type="number" value="50000000" min="1" max="100000000" />
      </div>
    
      <div class="form-check-inline">
        <label for="alquiler" class="form-check-label">
          <input type="radio" (click)="filtrarAlquiler()" id="alquiler" class="form-check-input" name="optradio">Alquiler
        </label>
      </div>
      <div class="form-check-inline">
        <label for="venta" class="form-check-label">
          <input type="radio" (click)="filtrarVenta()" id="venta" class="form-check-input" name="optradio">Venta
        </label>
      </div>
      <div class="form-check-inline mb-4">
        <label for="todas" class="form-check-label">
          <input type="radio" (click)="filtrarTodas()" id="todas" checked class="form-check-input" name="optradio">Todas
        </label>
      </div>
    </div>

  </div>
</div>
